.card
  .card-header
    = card.deck.title
  .card-body
    %h5.card-title
      = card.question
    %p.card-text
      = card.answer
      .inline-block
        = button_to 'Right', { action: :right }, { class: 'btn btn-success' }
      .inline-block
        = button_to 'Wrong', { action: :right }, { class: 'btn btn-danger' }