:javascript
  var card_question = document.getElementById('card-question');
  MathJax.Hub.Queue(["Typeset", MathJax.Hub, card_question]);

.card
  .card-header.text-center
    .span#card-question= card.question
  .card-body.text-center{style: 'min-height: 125px;'}
    %p.card-text#card-text
      %span#card-answer

  .card-footer
    .row
      .col-sm
      .col-6.text-center
        = link_to 'Show Answer', answer_deck_card_path(card.deck, card), remote: true, id: 'show-answer', class: 'btn btn-primary'
      .col-5.col-sm.text-right
        .inline-block
          - if card.archived?
            = button_to 'Unarchive', cards_archive_path(card), method: :delete, class: 'btn btn-success'
          - else
            = button_to 'Archive', cards_archive_path(card), method: :post, class: 'btn btn-warning'

        = link_to 'Edit', edit_deck_card_path(card.deck, card), class: 'btn btn-secondary', target: 'blank'