.section.mb-5
  %h3
    Your decks
    %small= "(#{Card.count} cards)"
  %ul
    - @decks.each do |deck|
      %li
        = link_to deck.title, deck
        %small
          %a{href: "#card-list-#{deck.id}", data: {toggle: 'collapse'}, role: 'button', 'aria-expanded' => 'false', 'aria-controls' => "card-list-#{deck.id}"}
            (#{deck.cards.count} cards)

        %ol.collapse{id: "card-list-#{deck.id}"}
          - deck.cards.each do |card|
            %li
              =link_to card.question, deck_card_path(deck, card)

    = link_to 'New Deck', new_deck_path

.row.mb-4
  .col-sm-4
    %h4= link_to 'Practice!', new_repeat_session_path(decks: Deck.all.to_a)

.section
  %h3 Statistics
  %table.table.table-sm{style: 'max-width: 300px;'}
    %thead
      %th Date
      %th New Cards
      %th Answers
    %tbody
      - @stats.each do |day|
        %tr
          %td= day.day
          %td= day.new_cards || 0
          %td= day.new_answers || 0