!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title Fcards
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    -# MathJax
    %script{type: "text/x-mathjax-config"}
      :plain
        MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [["$","$"],["\\(","\\)"]]
          },
          "HTML-CSS": { linebreaks: { automatic: true } },
          SVG: { linebreaks: { automatic: true } }
        });
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'}
    = javascript_include_tag 'ascii_math'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      = link_to 'Cards', root_path, class: 'navbar-brand'

    .container.mt-5.pt-5
      = yield